<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p><p>I am a passionate technology professional with a growing specialization in Cybersecurity. Building on a strong foundation in cloud computing and IT support, I have developed hands-on experience in security fundamentals, threat detection, network defense, and risk management. I have also completed the Google Cybersecurity Professional Certificate and continue to expand my skills through real-world technical projects and continuous learning.</p>
</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
<a href="https://drive.google.com/file/d/1NyTkydQr0VqX0_5DWiOsgZJSiYv2jBVy/view?usp=drive_link" 
   class="btn btn-lg btn-outline resume-button" 
   target="_blank" 
   rel="noopener noreferrer">
   View My Resume (PDF)
</a>

          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
